html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline-offset: 0.25rem;
}

body {
  background-color: map-get($theme-colors , 'main-color' );
  font-family: 'Poppins', sans-serif;
  height: 100%;
  line-height: 1.5rem;
}

img {
  height: auto;
  max-width: 100%;
}

li {
  list-style: none;
}
