html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline-offset: 0.25rem;
}

body {
  height: 100%;
  background-color: #135d51;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5rem;
}

img {
  height: auto;
  max-width: 100%;
}

li {
  list-style: none;
}
