.c-character-information {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
  margin-top: 6rem;

  &__title {
    color: map-get($theme-colors, 'primary-color');
    font-size: 1.6rem;
    font-weight: map-get($font-weight, 'bold');
    letter-spacing: 0.1rem;
  }
}

.c-border {
  border: 2px dashed map-get($theme-colors, 'tertiary-color');
  width: 50%;
}

.c-character-information__description {
  color: map-get($theme-colors, 'primary-color');
  font-size: 1.25rem;
  font-weight: map-get($font-weight, 'regular');
  letter-spacing: 0.1rem;
}

.c-character-information__total {
  color: map-get($theme-colors, 'secondary-color');
  font-size: 1.3rem;
  font-weight: map-get($font-weight, 'bold');
}
