.c-list-characters {
  margin-top: 5rem;
}

.c-list-characters__cards {
  align-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  justify-items: start;
  padding: 1.875rem;
}
.c-list-characters__card {
  background-color: map-get($theme-colors, 'primary-color');
  border-radius: $global-border-radius;
  box-shadow: 4px 4px 6px map-get($theme-colors, 'shadow-color');
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 10rem;
  width: 20rem;
}

.c-list-characters__image {
  align-items: center;
  border-top-left-radius: $global-border-radius;
  border-top-right-radius: $global-border-radius;
  display: flex;
  flex: 5;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.c-list-characters__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 0.5rem;
}

.c-character__name {
  color: map-get($theme-colors, 'fifth-color');
  font-size: 1.3rem;
  font-weight: map-get($font-weight, 'bold');
  letter-spacing: 0.1rem;
}

.c-character__info {
  color: map-get($theme-colors, 'fifth-color');
  font-size: 1.1rem;
  font-weight: map-get($font-weight, 'medium');
}

.is-character__info--status {
  color: map-get($theme-colors, 'tertiary-color');
}

.is-list-characters--hidden {
  display: none;
}
